<form action="/lists/create">
  <label for="name">Name your new list</label>
  <br/>
  <input type="text" name="name" value="" id="name"/>
  <br/>
  <input type="submit" value="Create this list"/> or <a href="/">Cancel</a>
</form>